body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}



.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    background-color: #1F2937;
    height: 500px;
}
.links{
    margin-left: auto;
    padding:30px;
}

.footer{
    background-color: #1F2937;
    display:flex;
    flex-direction: row;
    height: 300;
    text-align: center;
}


h1 {
    font-size: 48px;
    font-weight: bold;
    color: lightgray;
}




p {
    font-size: 24px;
    color: lightgray;
}

.landingText {
   margin:auto;
   text-align: left;
   
}
.javaRender{
    align-items: center;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.javaLink{
    color: #1F2937;
    align-self: center;
}




.socialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery {
    flex-direction: column;
    display: flex;
    background-color: aliceblue;
    height: 400px;
    align-items: center;
}

h2 {
    color: rgb(230, 227, 227);
    padding: 5px;
    margin-left: 30px;
}
a {
    font-weight: lighter;
    color: rgb(200,200,200);
    margin-right: 10px;
    padding: 5px;
}
