body {
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

button {
    background-color:#1F2937 ;
    height: 80px;
    width: 80px;
    padding-left: 20px;

}

*{
    border: 2px solid red;
}

.aboutMe{
    background-color: #1F2937;
    padding-top:3%;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 3%;
    
   
    
}






.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    
}

.links{
    margin-left: 0%;
    padding:30px;
}
.iframeContainer{

    padding-bottom: 5%;
    text-align: center;
    width:100%;
    background-color:#1F2937 ;
}

.footer{
    background-color: #e0dad1;
    display:flex;
    flex-direction: row;
    height: auto;
    
}
.footer2{
    display:flex;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
   
}


iframe{
    text-align: center;
    display: block;
    margin: 0 auto;
    
}


h1 {
    font-size: 48px;
    font-weight: bold;
    color: #e0dad1;
}

p {
    font-size: 24px;
    color: #e0dad1;
}

.landingText {
   display:flex;
   flex-direction: column;
   background-color: #1F2937;
   margin-left:auto;
   margin-right:auto;
   text-align: left;
   
   padding-bottom: 2%;
   
}
.javaRender{
    text-align: center;
    align-self: center;
    margin-left: 3%;
    margin-right: 3%;
    
    display: flex;
    flex-direction: column;
}
.javaLink{
    color: #1F2937;
    align-self: center;
}

.links{
    display: flex;
    flex-grow: 2;
}

.socialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery {
    flex-direction: column;
    display: flex;
    background-color: #e0dad1;
    height: 400px;
    align-items: center;
}

h2 {
    color: #e0dad1;
    padding: 5px;
    margin-left: 30px;
}
a {
    font-weight: lighter;
    color: #e0dad1;
    margin-right: 10px;
    padding: 5px;
}
